<h1>Hello {{name}}</h1>

<a title="Link to reset your password" href="https://mynth.io/resetPassword/{{token}}">Click to change password</a>

<h5>Or go to: https://mynth.io/resetPassword/{{token}}</h5>